DATABASE_URL="postgresql://USER:PASSWORD@HOST:PORT/DATABASE"

STRIPE_SECRET_KEY="your_stripe_secret_key_here"

JWT_ACCESS_SECRET="your_jwt_access_secret_here"
JWT_ACCESS_EXPIRES="2d"

JWT_REFRESH_SECRET="your_jwt_refresh_secret_here"
JWT_REFRESH_EXPIRES="7d"

BCRYPT_SALT=10